/src/node_modules
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/postgresql
src/public/vendor
src/resources/views
src/app/.DS_Store
